.page {
	background-color: #edf2fa !important;
}

.container {
	height: -webkit-fill-available;
	width: 100%;
	padding: 0px;
	margin: 0px;
	/* position: relative; */
}

.header {
	background-color: black !important;
}

.uk-heading-divider {
	margin: 0px !important;
	padding: 0px !important;
	border-color: black !important;
}

.uk-heading-line {
	margin: 10px !important;
	padding: 4px !important;
	color: white !important;
	font-weight: lighter !important;
}

ul {
	padding-left: 0px !important;
}

.col-sm-2 {
	/*color: black !important;*/
}